amino==13.0.1
Amino.py==1.2.13.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.5
chardet==3.0.4
colored==1.4.2
gevent==21.1.2
gitdb==4.0.4
GitPython==3.1.1
greenlet==1.0.0
idna==2.9
lenses==0.4.0
pycparser==2.20
pyTelegramBotAPI==3.6.7
requests==2.23.0
singledispatch==3.6.1
six==1.14.0
smmap==3.0.2
soupsieve==2.2.1
toolz==0.11.1
urllib3==1.25.9
websocket==0.2.1
websocket-client==0.57.0
zope.event==4.5.0
zope.interface==5.2.0
